*.netrwhist
.ccache
.cache
.gconf
.gnome2
.gnupg
.icedtea
.ipython
.ivec
.kde
.libreoffice
.fontconfig
.icedteaplugin
.emacs
.local
.java
.m2
.mozilla
.mutt
.netbeans
.thumbnails
.thunderbird
.macromedia
.webex
.ssh
.umit
.wireshark
Downloads
Ubuntu One
mingw32
.Skype
.adobe
