[user]
	mail = brice.fernandes@gmail.com
	name = Brice Fernandes
	email = brice.fernandes@gmail.com
[color]
	ui = auto
[push]
	default = tracking
[alias]
  s = status
  cm = commit -m 
	tree = log --oneline --graph --decorate
	qt = !git --no-pager log --oneline --graph --decorate -10
  tst = log --oneline --stat --decorate --graph
  authors = shortlog -sn
  tdiff = diff --color-words
  this = !git init && git add . && git commit -m \"initial commit\"
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
  stu = status -uno  
  ql = log --pretty='%Cgreen%h%Cred%d%Creset %Cblue[%an]%Creset %s' -20
  spull = git svn rebase
  spush = git svn dcommit
  fix = commit --amend -C HEAD

[branch]
	autosetuprebase = always
[merge]
	tool = meld
