*.un~
*.netrwhist
.CFUserTextEncoding
.DS_Store
.Trash/
.ccache
.cache
.gconf
.gnome2
.cabal
.VirtualBox
.aerofs-bin
.dropbox
.gem
.dvdcss
.gnupg
.icedtea
.ipython
.ivec
.kde
.libreoffice
.fontconfig
.icedteaplugin
.emacs
.local
.java
.m2
.mozilla
.mutt
.netbeans
.thumbnails
.thunderbird
.macromedia
.webex
.ssh
.umit
.wireshark
Downloads
Ubuntu One
mingw32
.Skype
.adobe
.processing
.xine
.wine
.weechat
.aerofs
.Xauthority
.appcfg_nag
.bash_history
.config/Trolltech.conf
.config/autostart/
.config/brice-menu.cache
.config/bs-stack
.config/bs-stack.bak
.config/chromium/
.config/dconf/
.config/deluge/
.config/htop/
.config/libimobiledevice/
.config/libreoffice/
.config/menus/
.config/mirage/
.config/openbox/autostart
.config/spotify/
.config/transmission/
.config/vlc/
.config/vol_cur
.config/vol_store
.dbshell
.dbus/
.fehbg
.gconfd/
.ghc/
.gimp-2.6/
.java_history
.lazarus/
.lein/
.lesshst
.lighttable/
.links/
.matplotlib/
.mplayer/
.netrc
.npm/
.pip/
.pki/
.pulse-cookie
.pulse/
.pythonhist
.sqlite_history
.subversion/
.viminfo
.viminfo.tmp
.wpa.log
.wpa_cli_history
