[user]
	mail = bfer@cbnl.com
	name = Brice Fernandes
	email = brice.fernandes@gmail.com
[color]
	ui = auto
[push]
	default = tracking
[alias]
	tree = log --oneline --graph --decorate
	qt = !git --no-pager log --oneline --graph --decorate -10
[branch]
	autosetuprebase = always
[merge]
	tool = meld
